In [11]:
import pandas as pd

In [15]:
stage1 = pd.read_csv('D:/data/Google NLP/test_stage_1.tsv', sep='\t')
stage2 = pd.read_csv('D:/data/Google NLP/test_stage_2.tsv', sep='\t')

In [16]:
stage1.head()

,ID,Text,Pronoun,Pronoun-offset,A,A-offset,B,B-offset,URL
0,development-1,Zoe Telford -- played the police officer girlf...,her,274,Cheryl Cassidy,191,Pauline,207,http://en.wikipedia.org/wiki/List_of_Teachers_...
1,development-2,"He grew up in Evanston, Illinois the second ol...",His,284,MacKenzie,228,Bernard Leach,251,http://en.wikipedia.org/wiki/Warren_MacKenzie
2,development-3,"He had been reelected to Congress, but resigne...",his,265,Angeloz,173,De la Sota,246,http://en.wikipedia.org/wiki/Jos%C3%A9_Manuel_...
3,development-4,The current members of Crime have also perform...,his,321,Hell,174,Henry Rosenthal,336,http://en.wikipedia.org/wiki/Crime_(band)
4,development-5,Her Santa Fe Opera debut in 2005 was as Nuria ...,She,437,Kitty Oppenheimer,219,Rivera,294,http://en.wikipedia.org/wiki/Jessica_Rivera

In [17]:
stage2.head()

,ID,Text,Pronoun,Pronoun-offset,A,A-offset,B,B-offset,URL
0,000075809a8e6b062f5fb3c191a8ed52,"For the U.S. Under Secretary of State, see Luc...",she,310,Lucy Benson,59,Kerrie Taylor,160,http://en.wikipedia.org/wiki/Lucy_Benson
1,0005d0f3b0a6c9ffbd31a48453029911,"After this match, she reached her new career h...",she,334,Kudryavtseva,182,Maria Sharapova,259,http://en.wikipedia.org/wiki/Alla_Kudryavtseva
2,0007775c40bedd4147a0573d66dc28f8,In the same way in his Preface of the Books of...,his,298,Ezra,191,Jerome,323,http://en.wikipedia.org/wiki/Development_of_th...
3,001194e3fe1234d00198ef6bba4cc588,Anita's so-called homeless mate Machteld Steen...,she,313,Dian,205,Anita,278,http://en.wikipedia.org/wiki/Dian_Alberts
4,0014bb7085278ef3f9b74f14771caca9,"By March, she was the King's mistress, install...",her,362,Pompadour,262,Jeanne Antoinette,336,http://en.wikipedia.org/wiki/Madame_de_Pompadour

In [18]:
stage1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
ID                2000 non-null object
Text              2000 non-null object
Pronoun           2000 non-null object
Pronoun-offset    2000 non-null int64
A                 2000 non-null object
A-offset          2000 non-null int64
B                 2000 non-null object
B-offset          2000 non-null int64
URL               2000 non-null object
dtypes: int64(3), object(6)
memory usage: 140.7+ KB

In [19]:
stage2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12359 entries, 0 to 12358
Data columns (total 9 columns):
ID                12359 non-null object
Text              12359 non-null object
Pronoun           12359 non-null object
Pronoun-offset    12359 non-null int64
A                 12359 non-null object
A-offset          12359 non-null int64
B                 12359 non-null object
B-offset          12359 non-null int64
URL               12359 non-null object
dtypes: int64(3), object(6)
memory usage: 869.1+ KB

In [23]:
numberwords = stage1["Text"].apply(lambda x: len(str(x).split()))
print(numberwords.max())
print(numberwords.min())

204
16

In [25]:
from nltk.corpus import stopwords
eng_stopwords = set(stopwords.words("english"))

In [27]:
stage1["num_stopwords"] = stage1["Text"].apply(lambda x: len([w for w in str(x).lower().split() if w in eng_stopwords]))

print('maximum of num_stopwords in stage1',stage1["num_stopwords"].max())

maximum of num_stopwords in stage1 88

In [28]:
import string

stage1["num_punctuations"] =stage1['Text'].apply(lambda x: len([c for c in str(x) if c in string.punctuation]) )
print('maximum of num_punctuations in stage1',stage1["num_punctuations"].max())

maximum of num_punctuations in stage1 93